@import "../../styles/breakpoints";
@import "../../styles/unit-conversion";
@import "../../styles/variables";

// Form.module.scss

.item {
	margin-bottom: 0.5rem; // space-y-2

	& + & {
		margin-top: 0.5rem;
	}
}

.label {
	display: block;
	font-size: 0.875rem; // text-sm
	font-weight: 500;

	&.hasError {
		color: #ef4444; // text-red-500

		@media (prefers-color-scheme: dark) {
			color: #7f1d1d; // dark:text-red-900
		}
	}
}

.description {
	color: #737373; // text-neutral-500
	font-size: 0.875rem; // text-sm

	@media (prefers-color-scheme: dark) {
		color: #a3a3a3; // dark:text-neutral-400
	}
}

.message {
	color: #e40f0f; // text-red-500
	font-size: 0.875rem; // text-sm
	font-weight: 500; // font-medium

	@media (prefers-color-scheme: dark) {
		color: #e40f0f; // dark:text-red-900
	}
}
