@import "../../styles/unit-conversion";
@import "../../styles/variables";
@import "../../styles/breakpoints";

.hero {
	section {
		position: relative;
	}

	&-nav-text {
		align-items: center;
		color: $header-color;
		display: flex;
		font-family: "Posterama";
		justify-content: center;
		margin: rem(16px) auto;
		// position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;

		h1 {
			font-size: rem(24px);
			margin: 0;
		}
	}

	&-empty-container {
		height: 100vh;
		overflow: hidden;
		overflow-x: hidden;
		width: auto;
	}

	// &-image {
	// 	background-image: url("../../../public/images/hero-image.jpg");
	// 	height: auto;
	// 	object-fit: cover;
	// 	width: 1200px;
	// }

	@media (max-width: $breakpoint-tablet) {
		h1 {
			font-size: rem(16px);
		}
	}
}
