:root {
	--grid-unit-80: 80px;
	--grid-unit-64: 64px;
	--grid-unit-40: 40px;
	--grid-unit-32: 32px;
	--grid-unit-24: 24px;
	--grid-unit-16: 16px;
	--grid-unit-10: 10px;
	--grid-unit-12: 12px;
	--grid-unit-8: 8px;
	--grid-unit-4: 4px;

	--content--max-width: 620px;
	--container--max-width: 1440px;
	--container--md-max-width: 1226px;
	--container--sm-max-width: 972px;
	--container--xsm-max-width: 738px;
}
