@import '@/styles/breakpoints';

.section-container {
	align-items: center;
	display: flex;
	height: 100dvh;
	justify-content: center;

	padding: var(--grid-unit-80);
	padding-left: var(--grid-unit-40);
	padding-right: var(--grid-unit-40);
	width: 100%;

	@media (max-width: $breakpoint-tablet) {
		padding: var(--grid-unit-40);
		padding-left: var(--grid-unit-16);
		padding-right: var(--grid-unit-16);
	}

	&.xs {
		max-width: var(--container--xsm-max-width);
	}

	&.sm {
		max-width: var(--container--sm-max-width);
	}

	&.md {
		max-width: var(--container--md-max-width);
	}

	&.lg {
		max-width: var(--container--max-width);
	}

	&.fluid {
		max-width: 100%;
		overflow: hidden;
	}
}
