@import '../../styles/breakpoints';
@import '../../styles/unit-conversion';
@import '../../styles/variables';

.model-wrapper {
	align-items: center;
	display: flex;
	height: 40vh; // or any height you prefer
	justify-content: center;
	position: relative;
	width: 100%;
}

.fallback-brain {
	animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.05);
		opacity: 0.8;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
