@import "../../styles/breakpoints";
@import "../../styles/unit-conversion";
@import "../../styles/variables";

.model-wrapper {
	height: 80vh; // or any height you prefer
	position: relative;
	width: 100%;
}

// canvas {
// 	height: 100% !important;
// 	width: 100% !important;
// }
