@import "../../styles/breakpoints";
@import "../../styles/unit-conversion";
@import "../../styles/variables";

.about {
	background-color: transparent;
	display: grid;
	grid-template-columns: 1fr 1fr;
	// min-width: 100dvw;
	// overflow: hidden;
	&-section {
		min-width: 100dvw;
	}

	&-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		img {
			max-height: 972px;
			max-width: 700px;
			object-fit: cover;
		}
	}

	&-text {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: rem(32px);
	}

	@media (max-width: $breakpoint-tablet) {
		grid-template-columns: 1fr;

		&-image {
			img {
				max-height: 650px;
				max-width: 400px;
			}
		}

		&-text {
			text-align: center;
		}
	}
}
