.preloader {
	align-items: center;
	background: linear-gradient(5deg, rgb(2, 0, 40) 0%, rgb(21, 0, 35) 100%);
	display: flex;
	flex-direction: column;
	font-family: 'Posterama';
	height: 100%;
	justify-content: center;
	left: 0;
	line-height: 1.5;
	opacity: 1;
	padding: 80px;
	position: fixed;
	top: 0;
	transition: opacity 1s ease;
	width: 100%;
	z-index: 9999;

	&.fadeOut {
		opacity: 0;
	}
}

.text {
	align-items: center;
	color: #adb8cc;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.5rem;
	font-weight: 300;
	height: 2rem;
	justify-content: center;
	max-width: 600px;
	min-height: 6rem;
	opacity: 0.8;
	text-align: center;
	width: 65%;
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #333;
	}
}
