@import "../../styles/breakpoints";
@import "../../styles/unit-conversion";
@import "../../styles/variables";

.contact {
	background: linear-gradient(180deg, #09090b 0%, #18181b 100%);
	font-family: "Poppins", sans-serif;
	overflow: hidden;
	// padding: var(--grid-unit-24);

	&-grid {
		display: grid;
		grid-column-gap: var(--grid-unit-40);
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;

		&-reversed {
			direction: rtl;

			> * {
				direction: ltr;
			}
		}

		@media (max-width: $breakpoint-tablet) {
			display: flex;
			flex-direction: column;
			gap: var(--grid-unit-32);
		}
	}

	&-left {
		img {
			border-radius: var(--grid-unit-24);
			height: 100%;
			object-fit: cover;
			// scale: 0.8;
		}
	}

	&-right {
		color: $color-primary-darkest;

		h3 {
			color: white;
			font-family: "Poppins", sans-serif;
			font-size: rem(32px);
			font-weight: 600;
			margin: unset;

			@media (max-width: $breakpoint-tablet) {
				font-size: rem(32px);
			}
		}
	}

	@media (max-width: $breakpoint-tablet) {
		flex-direction: column;

		&-left,
		&-right {
			flex: unset;
		}
	}
}
