@import "../../styles/breakpoints";
@import "../../styles/unit-conversion";
@import "../../styles/variables";

.checkbox {
	&__root {
		align-items: center;
		background-color: transparent; // Add this to ensure visibility
		border: 1px solid $color-secondary;
		border-radius: 0.125rem;
		cursor: pointer;
		display: flex;
		flex-shrink: 0;
		height: 1.1rem;
		justify-content: center;
		margin-right: var(--grid-unit-8);
		position: relative;
		width: 1.1rem;

		&:focus-visible {
			box-shadow: 0 0 0 2px var(--background), 0 0 0 4px var(--neutral-950);
		}

		&:disabled {
			cursor: not-allowed;
			opacity: 1;
		}

		&[data-state="checked"] {
			background-color: var(--neutral-900);
			color: var(--neutral-50);
		}

		// Dark mode styles
		:global(.dark) & {
			border-color: var(--neutral-800);

			&:focus-visible {
				box-shadow: 0 0 0 2px var(--background), 0 0 0 4px var(--neutral-300);
			}

			&[data-state="checked"] {
				background-color: var(--neutral-50);
				color: var(--neutral-900);
			}
		}
	}

	&__indicator {
		align-items: center;
		background-color: transparent;
		color: white;
		display: flex;
		height: 100%;
		justify-content: center;

		// Add transition for smooth state change
		transition: transform 300ms ease;
		width: 100%;

		&[data-state="unchecked"] {
			transform: scale(0);
		}

		&[data-state="checked"] {
			transform: scale(1);
		}
	}

	&__check {
		height: 1.1rem;
		width: 1.1rem;
	}
}
